h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
}
p.first {
  font-size: 20px;
}
p.second {
  font-size: 40px
}
body {
  background-image: url("greywallpaper.jpg");
}
strong {
  font-size: 50px;
  font-style: italic;
}
div {
  background-color: white;
  font-size: 30px;
}
a {
  font-size: 20px
}
img {
  image-resolution: snap;
  
}
